[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework-jwt = "*"
djangorestframework-oauth = "*"
django-jsonfield-backport = "==1.0.5"
djangorestframework-simplejwt = "*"
django-rename-app = "*"
django-rest-registration = "*"

[dev-packages]

[requires]
python_version = "3.10"
